/* All screens */

BODY {
	--bg-color: white;
	--text-color: black;
	background-color: white;
	background-color: var(--bg-color);
	font-family: arial;
	color: var(--text-color);
}

A {
	color: #409040;
}

A:hover {
	color: #0080FF;
}

IMG {
	height: 100%;
	width: 100%;
	cursor: grab;
}

.container {
	text-align: center;
}

.hide {
	display: none;
}

.panelbox {
	padding: 10px;
	text-align: left;
}

.center {
	text-align: center;
}

.navButton {
	width: 150px;
}

UL {
	list-style-type: none;
	padding: 5px;
	margin: 0px;
}

.panel {
	width: 350px;
}
	
.warn {
	color: #FF0000;
}

.notify {
	color: #0020FF;
}

#exerciseControls {
	display: none;
}

#hint {
	color: gray;
}


/* Large Screens */

@media only screen and (min-width: 651px) {
	
	.board {
		border: 0px solid black;
		border-collapse: collapse;
		display: inline-block;
		margin: 0px;
		padding: 0px;
		background-color: black;
	}

	.board TD {
		border: 0px solid black;
		height: 70px;
		width: 70px;
		margin: 0px;
		padding: 0px;
		text-align: center;
		vertical-align: middle;
	}

	.board TH {
		text-align: center;
		vertical-align: middle;
		padding: 5px;
		margin: 0px;
		border: 0px solid black;
		background-color: white;
		background-color: var(--bg-color);
	}

	.flexrow {
		display: flex;
		flex-wrap: wrap;
	}
}


/* Small Screens */
 
@media only screen and (max-width: 650px) {
	.board {
		border: 0px;
		border-collapse: collapse;
		display: inline-block;
		background-color: black;
	}

	.board TD {
		border: 0px solid black;
		height: 10.8vw;
		width: 10.8vw;
		margin: 0px;
		padding: 0px;
		text-align: center;
		vertical-align: middle;
	}
    
	.board TH {
		text-align: center;
		vertical-align: middle;
		padding: 2px;
		margin: 0px;
		border: 0px;
		background-color: white;
		background-color: var(--bg-color);
	}
	
	.flexrow {
		display: inline-block;
	}
}
