BODY {
  background-color: #FFFFFF;
  font-family: arial;
}

.board {
  border: 5px solid black;
  border-collapse: collapse;
  display: inline-block;
}

.board TD {
  border: 2px solid black;
  height: 70px;
  width: 70px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}

.dark {
}

.light {
}

IMG {
  height: 100%;
  width: 100%;
}

.largeInput {
  width: 500px;
}

.flexrow {
  display: flex;
}

.panel {
  margin-left: 10px;
  width: 300px;
  min-height: 500px;
}

.hide {
    display: none;
}

.panelbox {
  border-left: 5px solid gray;
  border-right: 5px solid gray;
  border-top: 5px solid gray;  
  width: 100%;
  padding: 10px;
  min-height: 75px;
}

.panelbottom {
    border-bottom: 5px solid gray;
}

.center {
    text-align: center;
}

.navButton {
  width: 100px;
}

UL {
  list-style-type: none;
  padding: 5px;
  margin: 0px;
}

.warn {
  color: #FF0000;
}

.notify {
  color: #0020FF;
}